<!DOCTYPE html>
<html>
<head>
    <title>Frontend</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Login / Cadastro</h1>

<input id="name" placeholder="Nome">
<input id="email" placeholder="Email">
<input id="password" placeholder="Senha">

<button onclick="register()">Cadastrar</button>
<button onclick="login()">Login</button>

<hr>

<input id="dataInput" placeholder="Novo dado">
<button onclick="saveData()">Salvar</button>

<ul id="list"></ul>

<script src="/static/script.js"></script>

</body>
</html>